<h1 class="ui header">New Book</h1>

<div class="ui stacked segment">
    <form class="ui form" name="bookForm" ng-submit="BookCtrl.save(book)" novalidate>
        <div class="field" ng-class="{ 'error' : bookForm.title.$invalid && !bookForm.title.$pristine }">
            <label>Title</label>
            <input type="text" name="title" ng-model="book.title" required>
        </div>

        <div class="field" ng-class="{ 'error' : bookForm.author.$invalid && !bookForm.author.$pristine }">
            <label>Author</label>
            <input type="text" name="author" ng-model="book.author" required>
        </div>

        <div class="field">
            <label>ISBN-13</label>
            <input type="text" name="isbn_13" ng-model="book.isbn_13">
        </div>

        <div class="field" ng-class="{ 'error' : bookForm.image_url.$invalid && !bookForm.image_url.$pristine }">
            <label>Image URL</label>
            <input type="url" name="image_url" ng-model="book.image_url">
        </div>

        <button class="ui button" type="submit" ng-disabled="bookForm.$invalid">Save</button>
    </form>
</div>
